<!DOCTYPE html>
<html>
  <head>
    <title>Chat List</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <form action="/portal/chat/help" method="post" class="mb-3">
        <input type="submit" value="Chat" class="btn btn-primary" />
      </form>
      <ul class="list-group">
        <li class="list-group-item"><a href="/portal/order/list">Orders</a></li>
        <li class="list-group-item">
          <a href="/portal/chat/list">Chat History</a>
        </li>
        <li class="list-group-item"><a href="/portal/logout">Exit</a></li>
      </ul>
      <h2>Chat List</h2>
      <table class="table">
        <tr>
          <th>ID</th>
          <th>Order ID</th>
          <th>Status</th>
          <th>Timestamp</th>
          <th>Current Step</th>
          <th>Action</th>
        </tr>
        {{range .chatList}}
        <tr>
          <td>{{.ID.Hex}}</td>
          <td>{{.OrderID.Hex}}</td>
          <td>{{.Status}}</td>
          <td>{{.Timestamp}}</td>
          <td>{{.CurrentStep}}</td>
          <td>
            {{if eq .Status "done"}}
            <form
              action="/portal/chat/customer/{{.CustomerID.Hex}}/order/{{.OrderID.Hex}}"
              method="post"
            >
              <input type="submit" value="View History" />
            </form>
            {{else}} {{if eq .OrderID.Hex "000000000000000000000000"}}
            <form action="/portal/chat/help" method="post">
              <input type="submit" value="Continue Chat" />
            </form>
            {{else}}
            <form
              action="/portal/chat/review/customer/{{.CustomerID.Hex}}/order/{{.OrderID.Hex}}"
              method="post"
            >
              <input type="submit" value="Continue Chat" />
            </form>
            {{end}} {{end}}
          </td>
        </tr>
        {{end}}
      </table>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </body>
</html>
