<!DOCTYPE html>
<html>
  <head>
    <title>Orders</title>
  </head>
  <body>
    <p>Orders</p>
    <table>
      <tr>
        <th>ID</th>
        <th>Customer</th>
        <th>Items</th>
        <th>Status</th>
      </tr>
      {{range .orders}}
      <tr>
        <td>{{.ID.Hex}}</td>
        <td>{{.Customer.Name}}</td>
        <td>{{range .Items}} |{{.Name}}| {{end}}</td>
        <td>{{.Status}}</td>
        <td>
          <form action="/portal/order/{{.ID.Hex}}/delivered" method="post">
            <input type="submit" value="Mark as Delivered" />
          </form>
        </td>
      </tr>
      {{end}}
    </table>
  </body>
</html>
