<!DOCTYPE html>
<html>
  <head>
    <title>Orders</title>
  </head>
  <body>
    <p>Orders</p>
    <table>
      <tr>
        <th>ID</th>
        <th>Customer</th>
        <th>Items</th>
        <th>Status</th>
      </tr>
      {{range .orders}}
      <tr>
        <td>{{.ID.Hex}}</td>
        <td>{{.Customer.Name}}</td>
        <td>{{range .Items}} |{{.Name}}| {{end}}</td>
        <td>{{.Status}}</td>
        <td>
          {{if ne .ChatStatus "done"}}
          <form
            action="/portal/customer/{{.Customer.ID.Hex}}/order/{{.ID.Hex}}/delivered"
            method="post"
          >
            {{if eq .ChatStatus "inProgress"}}
            <input type="submit" value="Continue Review" />
            {{else}}
            <input type="submit" value="Mark as Delivered" />
            {{end}}
          </form>
          {{else}}
          <form
            action="/portal/chat/customer/{{.Customer.ID.Hex}}/order/{{.ID.Hex}}"
            method="post"
          >
            <input type="submit" value="See Review" />
          </form>
          {{end}}
        </td>
      </tr>
      {{end}}
    </table>
  </body>
</html>
